@keyframes popIn {
  25% {
    transform: translateY(-14rem);
    opacity: 0;
  }
  100% {
    transform: translateY(-2);
    opacity: 1;
  }
}

.pop-out-text {
  animation: popIn 2s forwards;
  white-space: nowrap;
}


